.inside
  // position relative
  width 1200px
  max-width 1200px
  margin 0 auto
.top
  position absolute
  top 0
  right 0
  left 0
  margin auto
  width 100%
  height 98px
  line-height 98px
  border-bottom #d8d8d8 1px solid
  background #fff
  .in
    position relative
    width 1200px
    height 100%
    max-width 1200px
    margin 0 auto
    .top-menu
      margin-left 282px
      float left
      .el-tabs__header
        margin 0
    .top-info
      float right
      .avatar
        display inline-block
        img
          width 52px
          height 52px
          border-radius 50%
          vertical-align middle
      button
        margin-left 32px
      label
        margin-left 14px
    .el-tabs__nav-wrap::after
      background-color #fff
.logo
  position absolute
  left 0
  top 0
  bottom 0
  margin auto
  width 162px
  height 55px
  background url(../images/logo.png)
  display inline-block
.common-index
  position relative
  top 135px
.table-wisroom
  // margin-top 40px
  th.is-leaf, td
    border none
  tr.wisroom-header th
    background #f5f5f5
    &:nth-child(1)
      text-indent 10px
  // tr.wisroom-table-row
  //   &:hover
  //     background #e7e7e7
.schedule-pagination
  margin-top 28px
  .btn-prev, .btn-next, li, button, button:disabled
    background none
.schedule-bread
  display inline-block
  margin-left 7px
.schedule-icon
  display inline-block
i.icon-bread
  width 4px
  height 16px
  background #e14147
.schedule-time-picker
  display block
  position absolute
  left 0
  right 0
  bottom 0
  margin auto
.choose-area
  position relative
  .normal-cube
    position absolute
    left 0
    right 0
    top 82px
    margin auto
    width 657px
    min-width 657px
    padding-left 5px
    padding-right 5px
    padding-bottom 5px
    border-bottom-left-radius 4px
    border-bottom-right-radius 4px
    background #e7e7e7
    p
      height 50px
      line-height 50px
  .el-pagination
    position absolute
    top 480px
    left 0
    right 0
    margin auto
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td
  background #e7e7e7
.normal-cube-table
  width 100%
  tr.el-table__row
    cursor pointer
  tr.el-table__row--striped.current-row td, tr.current-row > td
    background #e7e7e7
    color #c9151e
  td
    border none
.el-table--enable-row-hover .el-table__body tr:hover>td
  background-color #e7e7e7 !important
.wisroom-input-long
  width 475px
  height 40px
  line-height 40px
.wisroom-input-small
  width 215px
  height 50px
  line-height 50px
.wisroom-input-414
  width 414px
  height 50px
  line-height 50px
.wisroom-submit-btn
  width 120px
  height 40px
.schedule-dialog
  width 870px
  // height 550px
  padding-bottom 52px
  background #f48387
  border none
  border-radius 68px
  .el-message-box__header
    width 80%
    height 140px
    margin 0 auto
    background url(../images/haha.png) center center
    background-repeat no-repeat
    .el-message-box__title
      display none
  .el-message-box__content
    width 766px
    height 338px
    margin 0 auto
    border-radius 32px
    background #fff
    .el-message-box__message
      margin-top 50px
      font-size 18px
      color #1d1c1c
  .el-message-box__btns
    position absolute
    left 0
    right 0
    bottom 260px
    margin auto
  .el-dialog__header
    width 80%
    height 140px
    margin 0 auto
    background url(../images/haha.png) center center
    background-repeat no-repeat
    .el-dialog__title
      display none
  .el-dialog__body
    width 766px
    margin 0 auto
    border-radius 32px
    background #fff
    h2
      font-size 24px
      color #1d1c1c
    p
      font-size 18px
      color #464646
    .el-dialog__message
      margin-top 50px
      font-size 18px
      color #1d1c1c
  .el-dialog__btns
    position absolute
    left 0
    right 0
    bottom 260px
    margin auto
.wisroom-input-login
  width 346px
  height 50px
  line-height 50px
  margin 0 auto
  margin-bottom 12px
  input
    width 100%
    height 100%
.wisroom-btn-login
  display block
  font-size 18px
  font-weight bold
  width 346px
  height 50px
  line-height 50px
  margin 0 auto
  border-radius 4px
  background #c9151e
  color #fff
  transition all .3s ease
  &:hover
    background #e14147
    color #fff
p.input-err-info
  position absolute
  left 0
  right 0
  margin auto
  margin-top 25px
  font-size 14px
  color #c9151e
  i
    color #ff8a00
p.input-success-info
  position absolute
  left 0
  right 0
  margin auto
  margin-top 25px
  font-size 14px
  color #5daf34
p.query-loading i
  font-size 18px
  color #222
.margin-top-big
  margin-top 90px
.wisroom-table-row
  td
    &:nth-child(1)
      text-indent 20px
  .wisroom-btn-row
    text-align right
    button
      &:nth-last-child(1)
        margin-right 20px
    label.btn
      font-size 12px
      color #bbb
      cursor not-allowed
      margin-left 13px
      &:nth-child(2)
        margin-right 20px
.el-table--enable-row-hover .el-table__body tr:hover>td button:not(.is-disabled)
  width 60px
  height 28px
  background #e14147
  color #fff
.wisroom-header .wisroom-btn-row
  text-align right
  .cell
    padding-left 0
    padding-right 0
.table-wisroom
  &::before
    background none
  .el-table__empty-block
    height 520px
    .el-table__empty-text
      margin 100px auto
      p
        margin-top 24px
.table-wisroom-dialog
  margin-top 20px
  margin-bottom 32px
  table .el-table__row
    background #f5f5f5
// .empty-info
//   position absolute
//   width 1200px
//   min-width 1200px
//   height 564px
//   top 0
//   padding-top 230px
//   margin-top 89px
//   background #fff
.wisroom-empty-info-btn
  display block
  width 360px
  height 48px
  line-height 48px
  margin 0 auto
  border-radius 4px
  font-size 22px
  background #e14147
  color #ffffff
  transition all .5s ease
  &:hover
    color #ffffff
    background #c9151e
.wisroom-input-username
  width 150px
.teacher-add-content-area
  width 619px
  position absolute
  top 210px
  left 0
  right 0
  margin auto
  p.title
    height 50px
    line-height 50px
    background #e7e7e7
.wisroom-date-picker
  button
    &:nth-child(1)
      display none
.cropper-dialog
  background none
  box-shadow none