.qrcode-box
  width: 188px
  height 188px
  margin 0 auto

#qrcode
  width 188px
  height 188px
  overflow hidden
 
 
.qrcode-mark
  background-color rgba(255, 255, 255, 0.9)
  top 0px
  left 0px
  width 188px
  height 188px
  text-align center
  margin-top -320px
  padding-top 160px
  color #fa5b5b
  font-size 24px 
  z-index 100

.qrcode-refreash
  margin 20px auto
  font-size 22px
  text-align: center

